@import url(https://fonts.googleapis.com/css2?family=Inspiration&family=Lobster&family=Montserrat%3Awght%40300&display=swap%27%29%3B);

:root {
    --padrao: #0d6efd;
    --name: 'Inspiration', cursive;
    --corpo: 'Montserrat', sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #c4c4c4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-top {
    width: 95vw;
    height: 35vh;
    background-color: var(--padrao);
    margin-bottom: 10px;
    border-radius: 0 0 35px 35px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.name {
    font-family: var(--name);
    font-size: 4.5rem;
    color: white;
    padding-top: 50px;
    text-align: center;
}

.about {
    font-family: var(--corpo);
    color: white;
    text-align: center;
    font-size: 1.1rem;
    padding: 5px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-link {
    background-color: var(--padrao);
    height: 10vh;
    width: 80vw;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    color: white;
    font-family: var(--corpo);
    font-size: 1.5rem;

    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
}

.box-link:hover {
    border: 1px solid var(--padrao);
    background-color: blue;
}

